* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100%;
  background-color: #0C1122;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  height: 100vh;
  overflow: hidden;
}
